<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple TODO Application <%= pageTitle %></title>
    <link href="./css/styles.css" rel="stylesheet">
</head>
<body>
    <header class="header">
       <%- include('partials/navigation') %>
    </header>
       <%- include(`../pages/${template}`) %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/scripts/index.js">
</script>
</body>
</html>
