
<main class="main">
    <div class="task-form">
        <form method="POST" >
            <input class="input" type="text" name="task" placeholder="I need to...">
            <button class="task-form__button button" type="submit">Create</button>
        </form> 
        <% if(locals.error == 1){%>
            <div class="alert alert--error">
                Invalid task!
            </div>
            <%}else if(locals.error==0){ %>
            
                <div class="alert alert--success">
                    Task was added!
                  </div>
            <%}%> 
       
    </div>

    <h2> Todo List </h2>
<% if(todos.length === 0){%>
<h3 class="no-tasks">There is no tasks.</h3>
<%}else{ %>

<ul class="list">
        <% todos.forEach(element => {%>
            <li class="list__item"> <div class="checkbox"></div> <span class="list__item-text"><%=element%></span> </li>
        <% })%>
    </ul>
<%}%>
    
</main>



